<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,CedeiraEx" />
	</configSections>
	<exceptionManagement mode="on">
		<publisher assembly="CedeiraEx" type="Microsoft.ApplicationBlocks.ExceptionManagement.MailExceptionPublisher" />
	</exceptionManagement>
	<appSettings>
		<add key="Ambiente" value="DESA" />
		<add key="CulturaDateTimeFormat" value="es-AR" />
		<add key="NombreAplic" value="ObtenerTokenBCRA" />
		<add key="CodigoAplic" value="CedST-ObtenerTokenBCRA" />
		<add key="TokenBcra" value="\\sauron\Token.BCRA" />
		<add key ="ArchivoBcra" value="\30535610440.txt" />
		<add key="ServernameDBEnv" value="srvmepdesa" />
		<add key="InstancenameDBEnv" value="" />
		<add key="NameDBEnv" value="CedPASES" />
		<add key="UsuarioDBEnv" value="" />
		<add key="PasswordDBEnv" value="" />
		<add key="DominioAD" value="SERVERAD01.bancoroela.com.ar" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>