<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler,CedeiraEx" />
	</configSections>
	<exceptionManagement mode="on">
		<publisher assembly="CedeiraEx" type="Microsoft.ApplicationBlocks.ExceptionManagement.MailExceptionPublisher" />
	</exceptionManagement>
	<appSettings>
		<add key="Ambiente" value="DESA" />
		<add key="CulturaDateTimeFormat" value="es-AR" />
		<add key="NombreAplic" value="ObtenerTokenBCRA" />
		<add key="CodigoAplic" value="CedST-ObtenerTokenBCRA" />
		<add key="TokenBcra" value="\\Serverdell\c\testConsolaPases" />
		<add key="UsuarioDBEnv" value="" />
		<add key="PasswordDBEnv" value="" />
		<add key="ServernameDBEnv" value="" />
		<add key="InstancenameDBEnv" value="" />
		<add key="NameDBEnv" value="" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<!--<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>-->
</configuration>